#Ignore everything in the root
/*
#Except:
!.gitignore
!book_analysis/
!config/
!ruby_modules/
!reports/
!price_changer/
!salesdata_extraction/
!tools/

#ignoring logging files for amazon
book_analysis/amazon/cron_log/*
book_analysis/amazon/missing_log/*

.DS_Store